html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #333;
}

a img {
  border: none;
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
}

.right {
  float: right;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #fafafa;
  line-height: 100px;
  font-size: 15px;
  z-index: 990;
}

.mobile-nav {
  display: none;
}

.name {z-index: 990;}

#illustration {
  background-color: #4C5364;
/*  background-color: #495266; gray blue*/
/*  background-color: #464C57; light gray blue*/
  width: 100%;
  padding-top: 16px;
  padding-bottom: 125px;
  text-align: right;
}

#illustration-content {
  width:60%;
}

#call-to-action {
  width: 50%;
  text-align: left;
  padding-top: 190px;
  padding-left: 2.5%;
  float:left;
}

#call-to-action h1 {
  line-height: 1.7rem;
  color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

#call-to-action h2 {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #fafafa;
  font-weight: 500;
}

#call-to-action button {
  font-family: 'Open Sans', sans-serif;
    padding: 9px 27px 12px;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 1px solid #fafafa;
    background: transparent;
    color: #fafafa;
    cursor: pointer;
    margin-top: 6%;
}

#call-to-action button:hover {
  background: #444a5a;
}

#call-to-action button span {
  margin-right: 5px;
}

#illustration-content img {
  padding-top: 190px;
  width: 45%;
  /*padding-left: 35px;*/
}

#illustration p {
  font-family: "Courier New";
  letter-spacing: 0.1em;
  color: #fafafa;
  padding-top: 60px;
  font-weight: 100;
  font-size: 14px;
}

#about a {
  color: #3a92c8;
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline;
}

#nav {
  background-color: #fafafa;
  height:60px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

#about {
/*  background-color: #D57878;*/
  background-color: #C26868;
  height: 1020px;
  margin-top:-30px;
}

#code {
/*  margin-top:150px;*/
  border-radius: 5px;
  width:750px;
  margin: 0 auto;
  padding-top:15px;
  font-size:30px;
  background: #ccc;
  height: 700px;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size:13px;
  color: #fafafa;
}

#console {
  width:670px;
  padding: 40px;
  height: 620px;
  margin:0 auto;
  background: #383737;
  color: #98e698;
}

span.answer {
  color:#ccc;
}

#about p {
  text-align: center;
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  color: #fafafa;
  font-size: 11px;
  text-transform: uppercase;

}

.tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 11px;
  text-transform: uppercase;
}

.section-tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #CEC8C8;
  font-size: 11px;
  text-transform: uppercase;
}

.skill {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.design {
  border-color: #86BE91;
}

#resume {
  background-color: #ddd;
  height: auto;
  margin-top: -30px;
  padding-top: 60px;
/*  //font-family: 'Karla';*/
  font-size: 19px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
}

#resume .inner {
  width:700px;
}

img.icon {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
  /*filter: grayscale(100%);*/
  /*-webkit-filter: grayscale(100%);   /*For Webkit browsers */*/
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .4s ease;
}

img.icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}

#work{
  background: #eee;
  height: auto;
  margin-top: -30px;
  /*text-align: center;*/
  padding: 60px 0 60px 0;
  font-size: 26px;
  line-height: 40px;
}

.row {
  clear: both;
}

.portfolio-thumb {
  width: 45%;
  margin: 20px;
  background-color: white;
  display: inline-block;
  /*//height: 500px;*/
}

.portfolio-thumb img {
  width: 100%;
}

.portfolio-thumb p {
  font-size: 14px;
  padding: 25px;
  padding-top: 0px;
  text-align: left;
  line-height: 24px;
}

.portfolio-thumb a {
  text-decoration: underline;
}

.portfolio-big {
  width: 95%;
 /* height: 680px;*/
}

#footer{
  background: #fafafa;
  min-height: 50px;
  text-align: left;
  color: #b1b1b1;
  padding-top: 20px;
  font-size: 12px;
  line-height: 20px;
}

/*TOC*/
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  top:0px;
  right: 0px;
  padding: 70px 50px 0 10px;
}

.toc-holder {
  text-align: right;
/*  //min-width: 60px;*/
  z-index: 994;

}

.toc-holder a {
  text-decoration: none;
/*  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;*/
}

.toc-holder li li a {
  padding-left: 60px;
}

.toc-holder li li li a {
  padding-left: 90px;
}

.toc-holder li a:hover {
  color: #000;
/*  padding-left: 35px;*/
}

.toc-holder li li a:hover {
  padding-left: 65px;
}

.toc-holder li li li a:hover {
  padding-left: 95px;
}

.toc-holder {
  position: fixed;
  right: 0;
}

a.toc-link {
  color: #ccc;
  position: relative;
  display: block;
  z-index: 994;
  min-width:200px;
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  padding-top: 24px;
  width: 100%;
  background: #fafafa;
}

a.toc-link:hover {
  background: #fafafa;
}

.toc-link span {
  font-size: 30px;
  margin-right: 70px;
  display: inline-block;
  -webkit-transition: -webkit-transform .4s ease;
  -moz-transition: -moz-transform .4s ease;
  -o-transition: -o-transform .4s ease;
  -ms-transition: -ms-transform .4s ease;
  transition: transform .4s ease;
}

.toc-link span.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.toc {
  position: absolute;
  z-index: 10;
  text-align: center;
  opacity: 0.5;
  right:0px;
  background: #fafafa;
  width: auto;
  padding-top: 60px;
}

.toc-h1,.toc-h1 ul {
  list-style: none;
  margin: 50px;
  padding: 0;
  width: auto;
}

ul.toc {
  -webkit-padding-start: 0px;
}

.toc-h1 a {
  color: #333;
  padding: 5px 20px 5px 30px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.closed {
  display: block;
}

.top-link {
  display: block;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 2%;
  padding: 8px 16px 0 16px;
  height: 30px;
  font-size: 14px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width:860px) {
  .portfolio-thumb {
    width: 90%;
  }
}


@media screen and (max-width:700px) {
  #code, #console {
    width: 100%;
    overflow: hidden;
  }

  #illustration {
    overflow: hidden;
  }

  #resume .inner {
    width: 85%;
  }

  #resume .right {
    display: none;
  }

}

@media (max-width: 480px) {
  
  .toc-holder {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;
  }

  #header {
    line-height: 30px;
    padding-top: 30px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 15px;
  }

  #header .name {
    width:40%;
    float: left;
    font-size: 12px;
    display: inline-block;
  }

  #header .nav {
    display: inline-block;
    float: left;
    width: 55%;
        padding-right: 10px;
  }

  li.mobile-header {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    padding-right: 10px;
  }

  li.mobile-header a {
    color: #b1b1b1;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
/* STYLES GO HERE */
  .toc-holder {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;
  }

  #header {
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 15px;
  }

  #header .name {
    width:40%;
    float: left;
    font-size: 10px;
    padding-top: 2px;
    display: inline-block;
  }

  #header .nav {
    display: inline-block;
/*    float: left;*/
    width: 55%;
        padding-right: 10px;
  }

  li.mobile-header {
    display: inline-block;
    font-size: 8px;
    line-height: 10px;
    padding-right: 5px;
  }

  li.mobile-header a {
    color: #b1b1b1;
  }

  #illustration {
    padding-bottom: 0px;
  }

  #illustration img {
    padding-top: 40px;
  }

  .tagline {
    padding-bottom : 20px; 
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .toc-holder {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;
  }

  .tagline {
    padding-bottom : 20px; 
  }

  #header {
    line-height: 10px;
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  #header .name {
    width:40%;
    padding-top: 2px;
    float: left;
    font-size: 10px;
    display: inline-block;
  }

  #header .nav {
    display: inline-block;
/*    float: left;*/
    width: 55%;
        padding-right: 10px;
  }

  li.mobile-header {
    display: inline-block;
    font-size: 8px;
    line-height: 10px;
    padding-right: 5px;
  }

  li.mobile-header a {
    color: #b1b1b1;
  }

  #about .inner {
    padding: 0px 10px 0px 10px;
  }
  #code, #console {
    height:auto;
  }
  #console {
    padding: 20px;
  }

  #code {
    margin-bottom: 20px;
  }
}
// vars and keyframes
$delay: .5s;
$menu-items: 3;

@keyframes drop {
  from {
    top: 0px;
  }
  70% {
    top: 165px;
    animation-timing-function: ease-in;
  }
  to {
    top: 150px;
    animation-timing-function: ease-out;
  }
}

/*Contact popup here*/
.contact-popup {
  position: fixed;
  background: #fafafa;
  border-radius: 4px;
  width: 40%;
  right: 30%;
  top: 8%;
  padding: 15px;
  z-index: 999
}

.contact-popup #submit-btn {
  margin-left: 5%;
  width: 40%;
  color: #fafafa;
  background: #78a5a3;
  cursor: pointer;
  height: 45px;
}

.contact-popup h4 {
  margin: 2% 5% 2%;
  font-size: 1.56rem;
}

#input-fields {
  margin-left: 5%;
}

#input-fields label {
  font-size: 1rem;
  line-height: 1rem;
}

.contact-popup input {
  width: 93%;
  font-size: 1rem;
  height: 33px;
  margin-bottom: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 2%;
}

.contact-popup textarea {
  width: 93%;
  height: 75px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
  padding-left: 2%;
  padding-top: 2%;
  font-size: 1rem;
}

.fade-out-background {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 996;
}

#close-popup {
  background: #78a5a3;
  border: 2px solid #fafafa;
  color: #fafafa;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  font-size: 1.1rem;
  right: -16px;
  top: -16px;
  cursor: pointer;
  box-shadow: -1px 1px 1px #ccc;
}

/*For mobile devices*/
@media only screen and (max-width: 415px) {
  #illustration-content {
    width: 100%;
  }

  #illustration-content img {
    display:none;
  }

  #subject {
    display: none;
  }

  #subjectLabel {
    display: none;
  }

  #call-to-action {
    width: 80%;
    text-align: center;
    padding-top: 100px;
    padding-left: 10%;
    float: left;
    padding-bottom: 100px;
  }

  #call-to-action h1 {
    font-size: 1.5rem;
  }

  #call-to-action h2 {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .contact-popup {
    width: 80%;
    right: 7%;
    top: 6%;
  }
}

/*Tablets in portfolio*/
@media only screen and (min-width: 416px) and (max-width: 768px) {
  #illustration-content {
    width: 80%;
  }
  #call-to-action {
    width: 40%;
    text-align: center;
    padding-top: 160px;
    /*padding-left: 10%;*/
    float: left;
    padding-bottom: 100px;
  }
  #call-to-action h1 {
    font-size: 1.3rem;
  }
  #call-to-action h2 {
    font-size: 1.1rem;
  }
  .contact-popup {
    width: 80%;
    right: 7%;
    top: 16%;
  }
}

/*For smaller desktop and tablets*/
@media only screen and (min-width: 769px) and (max-width: 1115px) {
  #call-to-action {
    width: 50%;
    text-align: left;
    padding-top: 175px;
    /*padding-left: 10%;*/
    float: left;
    padding-bottom: 100px;
  }

  #call-to-action h1 {
    font-size: 1.5rem;
  }

  #call-to-action h2 {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .contact-popup {
    width: 60%;
    right: 17%;
    top: 6%;
  }
}